#chado_display_access_permission {
  overflow: auto;
}

#chado_display_private_permission {
  overflow: auto
}

#chado_display_access_permission {
  margin-bottom: 25px;
}

#chado_display_admin_props {
	display: flex;
}

#chado_display_admin_props .chado_display_admin_props_in_sidebar {
	margin-left: 20px;
}

#chado_display_admin_prop_counter {
	margin-top: 5px;
}