#chado_page-main_content {
	padding-top: 5px;
	overflow: auto;
}

.chado_page-details {
	border: solid 1px #CCC;
	padding: 0px 20px;
	margin-bottom: 20px;
	box-shadow: 3px 3px 2px #CCC;
	border-radius: 6px;
}

.chado_page-details[open] {
	padding: 7px 20px;
}
	
.chado_page-section {
	background-color: #FFF;
}

.chado_page-details summary {
	list-style: none;
}
	
.chado_page-section h2 {
	margin: 0px;
}
.chado_page-content {
	background-color: #FFF;
}