#chado_display_page-access_control {
	float: right;
}
	
#chado_display_page-private_remark {
	color: #EEE;
	font-size: 14px;
	padding: 2px 5px 4px;
	border-radius: 5px;
	background-color: #FFA500;
	text-align: center;
	clear: right;
	margin: 3px 0px 3px 5px;
}

#chado_display_page-admin_access {
	font-size: 14px;
	clear: right;
	margin-bottom: 2px;
}

.breadcrumb .chado_display-page_control {
 display: none;
 }
 
.chado_display-page_control {
	float: right;
  font-size: 14px;
	margin: 2px 0px 2px 5px;
	padding: 2px 7px 4px;
  border-radius: 5px;
  /*border: 1px solid #EEE;*/
  background-color: #EEE;
}

.chado_display-page_control:hover {
  background-color: #DDD;
}

#chado_page-content-overview {
	display: flex;
}
#chado_page-content-overview table {
  height: fit-content;
}

#chado_page-content-overview .chado_display-overview_image {
  margin: 10px 0px 0px 20px;
}
#chado_page-content-overview .chado_display-overview_image img {
  width: 100%;
}

.chado_page-container {
	clear: both;
}

.chado_display-sequence {
	clear: both;
}
.chado_display-sequence-item {
	/*float: left;*/
	margin-top: -15px;
}

.chado_display_style_table td {
	/*word-break: break-word;*/
}

#chado_page-content-sequence pre {
	white-space: pre-wrap;
}

.chado_display-page_content-found {
  float: left;  
}

.chado_display_table_wrapper {
  clear: both;
}