.chado_display_style_table {
  border-collapse: collapse;
}

.chado_display_style_table th {
  white-space: nowrap;
}

.chado_display_style_table td, .chado_display_style_table th {
  border-top: #b7d0e7 1px solid !important;
  border-bottom:#b7d0e7 1px solid !important;
}

.chado_display_style_table th {
  background-color: #a6c3df   !important;
  color: #FFF;
}

.chado_display_style_table tr.odd {
  background-color:#FFF !important;
}

.chado_display_style_table tr.even {
  background-color: #e9f4fe !important;
}
