.tripal-analysis-blast-info-hsp-desc {
  position: fixed;
  background-color: #FFFFFF;
  border: 2px solid #CCC5AE;
  padding: 20px;
  width: 500px;
  max-height: 280px;
  overflow: auto;
  display: none;
  top: 180px;
  z-index: 10;
}
.tripal-analysis-blast-info-hsp-desc pre{
  background-color: #FFFFFF;
  border: none;
  overflow: auto;
  width: 95%;
  padding: 0 0 10px 0;
  white-space: nowrap;
}
.hsp-desc-close {
  float: right;
}

pre.blast_align {
    white-space: pre;
}

