.chado_page-container {
  display: flex;
}

#chado_page-table_of_content {
  width: 20%;
  padding: 20px;
  background-color: #EEE;
  border-radius: 8px;
  margin-left: 20px;
  margin-top: 5px;
}

#chado_page-table_of_content ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

#chado_page-table_of_content li {
  white-space: nowrap;
}

#chado_page-main_content {
  padding: 20px;
  border-radius: 8px;
  border:1px solid #CCC;
  width: 78%;
  margin-top: 5px;
  overflow: auto;
}
