.chado_display_style_table {
  border-collapse: collapse;
}

.chado_display_style_table th {
  white-space: nowrap;
}

.chado_display_style_table td, .chado_display_style_table th {
  border-top: #ecf2d7 1px solid !important;
  border-bottom:#ecf2d7 1px solid !important;
}

.chado_display_style_table th {
  background-color:#CEDFAE !important;
  color: #FFF;
}

.chado_display_style_table tr.odd {
  background-color:#FFF !important;
}

.chado_display_style_table tr.even {
  background-color: #f2f7ee !important;
}
