.chado_page-container {
  display: flex;
  align-items: flex-start;
  width: 100%;
  /* overflow: clip;*/
}

#chado_page-table_of_content {
	position: sticky;
	top: 100px;
  padding: 20px;
  margin-left: 20px;
  margin-top: 10px;
  background-color: #EEE;
  border-radius: 8px;
  z-index: 100;
}

#chado_page-table_of_content ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

#chado_page-table_of_content li {
  white-space: nowrap;
}

#chado_page-main_content {
  width: inherit;
  overflow: auto;
}

.chado_page-content {
  margin-bottom: 20px;
}

.chado_page-content_separator {
	clear: both;
}

#chado_page-main_content {
	max-width: 80%;
}
