<div id="chado_page-{{class_name}}-container" class="chado_page-container">
  
  <!-- Content -->
  <div id="chado_page-main_content">
    {% for item, section in content %}
      {% if section is not null or section is not empty %}
        {% if attribute(alt_header, item) is not null or attribute(alt_header, item) is not empty %}
          <div id="chado_page-section-{{item|replace({'\/': '',' ': '_'})}}" class="chado_page-section"><h2>{{ attribute(alt_header, item) }}</h2></div>
        {% else %}
          <div id="chado_page-section-{{item|replace({'\/': '',' ': '_'})}}" class="chado_page-section"><h2>{{ attribute(table_of_content, item) }}</h2></div>
        {% endif %}
        <div id="chado_page-content-{{item|replace({'\/': '',' ': '_'})}}" class="chado_page-content">{{section}}</div>
        <div class="chado_page-content_separator"> </div>
      {% endif %}
    {% endfor %}

  </div>
  
  <!-- TOC -->
  <div id="chado_page-table_of_content">

    {% if category|length == 0 %}
    <!-- TOC w/o category-->
      <ul>
        {% for key, item in table_of_content %}
          <li id="chado_page-toc-{{key|replace({'\/': '',' ': '_'})}}" title="chado_page-section-{{key|replace({'\/': '',' ': '_'})}}" class="chado_page-toc">
          <a href="javascript:void(0)">{{item}}</a>
          </li>
        {% endfor %}
      </ul>

    {% else %}
    <!-- TOC with category-->
      {% for cat, items in category %}
        <div id="chado_page-category-{{cat|replace({'\/': '',' ': '_'})}}" class="chado_page-category">{{cat}}</div>
          <ul>
            {% for item in items %}
            <li id="chado_page-toc-{{item|replace({' ': ''})}}" title="chado_page-section-{{item|replace({'\/': '',' ': '_'})}}" class="chado_page-toc">
              <a href="javascript:void(0)">{{ attribute(table_of_content, item) }}</a>
            </li>
            {% endfor %}
          </ul>
      {% endfor %}
    {% endif %}
  </div>
</div>