<div id="chado_page-{{class_name}}-container" class="chado_page-container">
  <!-- Content -->
  <div id="chado_page-main_content">
    {% for item, section in content %}
      {% if section is not null or section is not empty %}
        {% if attribute(alt_header, item) is not null or attribute(alt_header, item) is not empty %}
          <div id="chado_page-section-{{item|replace({' ': '_'})}}" class="chado_page-section"><h2>{{ attribute(alt_header, item) }}</h2></div>
        {% else %}
          <div id="chado_page-section-{{item|replace({' ': '_'})}}" class="chado_page-section"><h2>{{ attribute(table_of_content, item) }}</h2></div>
        {% endif %}
        <div id="chado_page-content-{{item|replace({' ': '_'})}}" class="chado_page-content">{{section}}</div>
        <div class="chado_page-content_separator"> </div>
      {% endif %}
    {% endfor %}

  </div>
</div>